*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #303030;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img{
    margin-left: 25px;
    margin-top: 10px;
}
section {

    border-radius: 12px;
    background-color: #ffff ;
    margin: 30px;
    max-width: 850px;
    justify-content: center;
    margin:70px auto;
}
#card{
    display: grid;
    grid-auto-flow: column;
   
}
#img img{
    margin: 0 auto;
    justify-items: center;
    display: flex;
    margin-bottom: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
form h3{
    font-size: 15px;
}
form h1{
    font-size: 20px;
}
form{
    padding-bottom: 10px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    display: block;
}
form input{
    border: none;
    margin: 20px 0px 20px 0px;
    border-bottom: 2px;
    outline: 0;
    background-color:#F5F5F5;
    border-radius: 8px;
    padding: 8px 20px 5px 8px;
    clear: right;
}
button{
    width: 150px;
    background-color:#303030 ;
    border:none;
    color: #ffff;
    border-radius: 10px;
    height: 30px;
    font-size: bold;
    margin-top: 40px;
    
}

@media only screen and (max-width: 700px)  {
    #card{
        display: block;
    }
    .form{
        justify-content: center;
        margin: 0 auto;
        justify-items: center;
        padding: 50px;
        
    }
    section{
        max-width: 300px;
    }
    #banda{
        width: 250px;
    }
}