*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgba(10, 10, 10, 0.466);
   
}
#imagem img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}
#imagem{
    background-image: url(img/bateria.jpg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-color: rgba(10, 10, 10, 0.466);
    background-size: cover;
   
}
#servicos{
    display: grid;
    grid-auto-flow: column;
    background-color: #e4e4e4;
    height: 80px;
    text-align: center;
}
#servicos p{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
#servicos a{
    text-decoration: none;
    color :#000000;
    margin: 0 auto;
    text-align: center;
    padding: 30px;

}
#info{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    padding: 30px;
    
}
.texto{
    padding: 55px;
    
}
.texto h2{
    font-size: 18px;
}
.texto img{
    margin-bottom: 10px;
}
@media only screen and (max-width: 700px)  {
   
}